

# input csv/rds
input/*.csv
input/*.rds

# archive
archive/*


# cache
cache/*.rds
cache/level1_files.RData


# submission files
subs/*.csv

# xgboost auto save files
*xgboost.model*


# Rproj stuff
*.Rproj*




.Rproj.user

